<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="../images/favicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Inicio</title>
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/tweetsList.css"/>
  <link rel="stylesheet" href="../styles/searchBar.css"/>
  <link rel="stylesheet" href="../styles/navLinks.css"/>
  <link rel="stylesheet" href="../styles/sideContainers.css">
  <link rel="stylesheet" href="../styles/pageContent.css">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <script src="https://kit.fontawesome.com/a7f33ed485.js" crossorigin="anonymous"></script>
</head>

<body>

    <dialog class="new-tweet-dialog">
        <div class="dialog-header">
            <div class="close-dialog-btn" onclick="closeNewTweetDialog()">
                <i class="fa-solid fa-xmark fa-lg"></i>
            </div>
        </div>

        <div class="compose-new-twitt-container">
                <div class="dialog-profile-bubble">
                </div>
                <textarea class="text-field" placeholder="En que estás pensando?"></textarea>
        </div>

        <div class="dialog-footer">
            <button type="button" class="post-tweet-btn" onclick="createTweet()">Publicar</button>
        </div>
    </dialog>

  <div class="side-containers left">

    <div class="nav-links">
        
        <a href="../index.html">
            <div class="list-item-container">
                <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 28.38px;"><g><path fill="rgb(29, 155, 240)" d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
            </div>
        </a>
    
        <a href="../index.html">
            <div class="list-item-container">
                <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 26.25px"><g><path d="M12 9c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4zm0 6c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2zm0-13.304L.622 8.807l1.06 1.696L3 9.679V19.5C3 20.881 4.119 22 5.5 22h13c1.381 0 2.5-1.119 2.5-2.5V9.679l1.318.824 1.06-1.696L12 1.696zM19 19.5c0 .276-.224.5-.5.5h-13c-.276 0-.5-.224-.5-.5V8.429l7-4.375 7 4.375V19.5z"></path></g></svg>
                <p class="link-text">Inicio</p>
            </div>
        </a>
    
        <div class="list-item-container" onclick="navigateToProfile()">
            <!-- <i class="fa-regular fa-user fa-lg"></i> -->
            <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 26.25px"><g><path d="M5.651 19h12.698c-.337-1.8-1.023-3.21-1.945-4.19C15.318 13.65 13.838 13 12 13s-3.317.65-4.404 1.81c-.922.98-1.608 2.39-1.945 4.19zm.486-5.56C7.627 11.85 9.648 11 12 11s4.373.85 5.863 2.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H3.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46zM12 4c-1.105 0-2 .9-2 2s.895 2 2 2 2-.9 2-2-.895-2-2-2zM8 6c0-2.21 1.791-4 4-4s4 1.79 4 4-1.791 4-4 4-4-1.79-4-4z"></path></g></svg>
            <p class="link-text">Perfil</p>
        </div>

        <a href="./savedPosts.html">
            <div class="list-item-container">
                <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 26.25px"><g><path d="M4 4.5C4 3.12 5.119 2 6.5 2h11C18.881 2 20 3.12 20 4.5v18.44l-8-5.71-8 5.71V4.5zM6.5 4c-.276 0-.5.22-.5.5v14.56l6-4.29 6 4.29V4.5c0-.28-.224-.5-.5-.5h-11z"></path></g></svg>
                <p class="link-text">Guardados</p>
            </div>
        </a>

        <div class="list-item-container" onclick="logOut()">
            <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 26.25px"><g><path d="M4 4.5C4 3.12 5.12 2 6.5 2h11C18.88 2 20 3.12 20 4.5v15c0 1.38-1.12 2.5-2.5 2.5h-11C5.12 22 4 20.88 4 19.5V16h2v3.5c0 .28.22.5.5.5h11c.28 0 .5-.22.5-.5v-15c0-.28-.22-.5-.5-.5h-11c-.28 0-.5.22-.5.5V8H4V4.5zm6.95 3.04L15.42 12l-4.47 4.46-1.41-1.42L11.58 13H2v-2h9.58L9.54 8.96l1.41-1.42z"></path></g></svg>
            <p class="link-text">Cerrar Sesión</p>
        </div>
    
        <div class="list-item-container" style="background-color: rgb(29, 155, 240); color: white" onclick="openNewTweetDialog()">
            <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 26.25px"><g><path fill="white" d="M23 3c-6.62-.1-10.38 2.421-13.05 6.03C7.29 12.61 6 17.331 6 22h2c0-1.007.07-2.012.19-3H12c4.1 0 7.48-3.082 7.94-7.054C22.79 10.147 23.17 6.359 23 3zm-7 8h-1.5v2H16c.63-.016 1.2-.08 1.72-.188C16.95 15.24 14.68 17 12 17H8.55c.57-2.512 1.57-4.851 3-6.78 2.16-2.912 5.29-4.911 9.45-5.187C20.95 8.079 19.9 11 16 11zM4 9V6H1V4h3V1h2v3h3v2H6v3H4z"></path></g></svg>
            <p class="link-text">Twittear</p>
        </div>

        <!-- <div class="list-item-container">
             <div class="profile-pic"></div>
             <p class="link-text">Usuario</p>
        </div> -->
    </div>
    
  </div>

  <div class="page-content">

    <div class="header-desktop home">
        <div class="header-content">
            <h1 class="home-title">Guardados</h1>
        </div>
    </div>

    <div class="header-mobile">
        <div class="mobile-profile-btn" onclick="navigateToProfile()"></div>
        <svg class="twitter-icon home" viewBox="0 0 24 24" aria-hidden="true" style="width: 24.56px;"><g><path fill="rgb(29, 155, 240)" d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
    </div>

    <div style="height: 53px"></div>

    <div class="tweets-list">
        <div class="spinner">
            <i class="fa-solid fa-circle-notch fa-spin fa-xl" style="color: rgb(29, 155, 240)"></i>
        </div>
    </div>

  </div>

  <div class="side-containers right">
    <div class="search-bar-container">
        <input type="text" placeholder="Buscar en Twitter" class="search-input"/>
    </div>
</div>

<footer>
    <div class="footer-txt-container">
        <span id="1">Don't miss what's happening</span>
        <span id="2" style="font-size: 15px; font-weight: lighter">People on Twitter are the first to know</span>
    </div>

    <div class="footer-btns-container">
        <span class="footer-btn" onclick="navigate('login')">Log in</span>
        <span class="footer-btn" id="sign-up" onclick="navigate('signup')">Sign up</span>
    </div>
</footer>

<div class="mobile-tweet-btn" onclick="openNewTweetDialog()">
    <svg viewBox="0 0 24 24" aria-hidden="true" style="width: 26.25px;"><g><path fill="white" d="M23 3c-6.62-.1-10.38 2.421-13.05 6.03C7.29 12.61 6 17.331 6 22h2c0-1.007.07-2.012.19-3H12c4.1 0 7.48-3.082 7.94-7.054C22.79 10.147 23.17 6.359 23 3zm-7 8h-1.5v2H16c.63-.016 1.2-.08 1.72-.188C16.95 15.24 14.68 17 12 17H8.55c.57-2.512 1.57-4.851 3-6.78 2.16-2.912 5.29-4.911 9.45-5.187C20.95 8.079 19.9 11 16 11zM4 9V6H1V4h3V1h2v3h3v2H6v3H4z"></path></g></svg>
</div>
  
  <script src="../scripts/apiKey.js"></script>
  <script src="../scripts/session.js"></script>
  <script src="../scripts/navBarLinks.js"></script>
  <script src="../scripts/tweetItemComponent.js"></script>
  <script src="../scripts/fetchTweets.js"></script>
  <script src="../scripts/fetchAllUsers.js"></script>
  <script src="../scripts/fetchLikes.js"></script>
  <script src="../scripts/likeTweet.js"></script>
  <script src="../scripts/fetchSavedPosts.js"></script>
  <script src="../scripts/saveTweet.js"></script>
  <script src="../scripts/renderTweets.js"></script>
  <script src="../scripts/createTweet.js"></script>

  <script src="../scripts/navigation.js"></script>

  <script>

    window.addEventListener('load', async  e => {
        if (session !== null) {
            document.querySelector('.mobile-profile-btn').style.display = 'unset';
            document.querySelector('.mobile-profile-btn').style.backgroundImage = `url(${session.avatar_url})`;
        }

        if (session === null) {
            document.querySelector('footer').style.display = 'flex';
        }

        await fetchAllUsers();
        await fetchTweets();
        await fetchLikes();
        await fetchSavedPosts();
        renderTweets(tweets, users, false, true, session.user_id);
    });

  </script>

  <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
</body>

</html>.