.header {
    margin: 0;
    display: flex;
    height: 53px;
    align-items: center;
    position: fixed;
    width: 598px;
    background-color:rgb(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    z-index: 2;
    border-bottom: 1px solid rgb(239, 243, 244);
    padding-left: 10px;
    box-sizing: border-box;
 }

 .header-content {
    margin-left: 10px;
 }

 .header-content h1 {
    margin: 0;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
 }

 .header-content span {
    font-size: 13px;
    color: rgb(83, 100, 113);
 }

 .header .arrow-container {
   width: 40px;
   height: 40px;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .header .arrow-container:hover {
   background-color: rgb(231, 231, 231);
   transition: 0.3s;
 }