a {
    text-decoration: none;
    color: unset;
 }

 .nav-links {
    margin-top: 20px;
    min-width: 259px;
    position: fixed;

 }
  
  .list-item-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 100px;
    transition: 0.5s;
  }
  
  .list-item-container:hover {
    background-color: lightgray;
    transition: 0.5s;
  }

 .link-text {
    margin-left: 25px
 }