a {
    text-decoration: none;
    color: unset;
    width: max-content;
 }

 .nav-links {
   margin-top: 2px;
   width: 259px;
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
   padding: 0 8px;
 }
  
  .list-item-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding-right: 20px;
    padding-left: 20px;
    height: 50px;
    border-radius: 100px;
    transition: 0.5s;
  }

  .compose-tweet-btn {
    width: 85%;
    padding: 0;
    background-color: rgb(29, 155, 240);
    color: white
  }

  .compose-tweet-btn svg {
    display: none;
   }

   .compose-tweet-btn p {
    margin: 0;
   }
  
  .list-item-container:hover {
    background-color: rgb(15, 20, 25, 0.1);
    transition: 0.5s;
  }

 .link-text {
    font-size: 20px;
    margin-left: 25px
 }

 .profile-btn {
  position: fixed;
  bottom: 20px;
 }

 .profile-pic {
   width: 40px;
   height: 40px;
   background-color: rgb(207, 217, 222, 1);
   border-radius: 100%;
   background-position: center center;
   background-size: cover;
 }

 @media only screen and (max-width: 1024) {
   .nav-links {
      width: 150px;
   }

 }

 @media only screen and (max-width: 1168px) {

   .nav-links {
      width: 88px;
      align-items: center;
   }

   .list-item-container {
      padding: 12px;
      margin: 0px;
      box-sizing: border-box;
   }

   .list-item-container a {
      display: inline;
   }

    .link-text {
      display: none;
    }

    .compose-tweet-btn {
      width: max-content;
   }

   .compose-tweet-btn svg {
    display: unset;
   }

 }

 @media (hover: hover) and (pointer: fine) {
  .compose-tweet-btn:hover {
    background-color: rgb(26, 140, 216);
   }
}