@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Flex&display=swap');

 html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Flex', sans-serif;
 }
  
 h1 {
    font-size: 20px;
 }

 body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
 }

