.profile-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* border-bottom: 1px solid rgb(239, 243, 244); */
}

.profile-info-container .spinner {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-info-container .cover-photo-container {
    width: 100%;
    height: 200px;
    background-color: rgb(207, 217, 222, 1);
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.profile-info-container .profile-picture-container {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 217, 222, 1);
    border-radius: 100%;
    position: absolute;
    top: 200px;
    margin-left: 15px;
    border: 5px solid white;
    overflow: hidden;
}

.profile-info-container .profile-buttons {
    height: 50px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.follow-btn {
    display: none;
    height: 34px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 100px;
    cursor: pointer;
}

.follow-btn:hover {
    background-color: rgb(39, 44, 48);
}

.unfollow-btn {
    display: none;
    height: 34px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    justify-content: center;
    color: rgb(39, 44, 48);
    font-weight: bold;
    background-color: white;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 100px;
    cursor: pointer;
}

.unfollow-btn:hover {
    background-color: rgb(15, 20, 25, 0.1);
}

.profile-info-container .profile-data {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    word-wrap: break-word;
}

.profile-data .profile-username {
    display: flex;
    align-items: center;
}

.profile-username h2 {
    font-size: 20px;
    margin: 0;
}

.profile-data .profile-bio {
    color: #0F1419;
}

.profile-sections {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(239, 243, 244);
}

.profile-sections li {
    list-style: none;
    cursor: pointer;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 4px solid rgb(29, 155, 240);
}

.profile-sections li:hover {
    background-color: rgb(239, 243, 244);
}

.following-followers-container {
    box-sizing: border-box;
    gap: 30px;
    display: flex;
    font-size: 14px;
    color: rgb(83, 100, 113);
}

.following-followers-container span {
    cursor: pointer;
}

.following-followers-container span:hover {
    text-decoration: underline;
}