@import url('https://fonts.cdnfonts.com/css/chirp-2');


html {
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Chirp';
 }

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 31px;
}

.login-screen {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.back-arrow-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form input {
    box-sizing: border-box;
    height: 60px;
    margin-top: 12px;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.login-form input:focus {
    outline-color: rgb(29, 155, 240);
}

.login-form button {
    cursor: pointer;
    margin-top: 100px;
    height: 60px;
    border-radius: 100px;
    border-width: 0px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #000
}

.login-form button:hover {
    transition: 0.3s;
    opacity: 0.8;
}

.login-form p, a {
    display: inline;
    width: max-content;
    font-weight: 100;
}


@media only screen and (max-width: 414px) {
    /* body {
        width: 100%;
    } */

    /* .login-form input {
        min-width: 100%
    } */
}
